<div class="col-md-12" ng-controller="LoginController">

	<div class="col-md-offset-9 col-md-3" ng-show="loginError" ng-controller="LoginErrorController" >
		<div class="alert alert-danger">
			<strong>Error!</strong> {{ loginError.result.message | translate }}.
		</div>
	</div>
	<div class="container">
		<div class="col-md-12 login-container">
			<div class="col-md-offset-2 col-md-8">
				<div class="page-header">
					<h1>Welcome to Jogging Tracker!
						<br /> <small>Not a memeber? Register Today!</small>
					</h1>
				</div>
				<div ng-show="registerError" class="alert alert-danger">{{ registerError  | translate }}</div>
				<form name="registerForm" ng-submit="register()" novalidate>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" placeholder="Username" required id="register_username" ng-model="newUsername">
						<span ng-show="registerForm.newUsername.$dirty && registerForm.newUsername.$error.required" class="help-block">Username is required</span>
					</div>
					<div class="form-group">
						<label for="register_password">Password</label>
						<input type="password" class="form-control" placeholder="Password" required id="register_password" ng-model="newPassword">
						<span ng-show="registerForm.newPassword.$dirty && registerForm.newPassword.$error.required" class="help-block">Password is required</span>
					</div>
					<div class="form-group">
						<label for="register_password">Confirm Password</label>
						<input type="password" class="form-control" placeholder="Password" required id="register_password" ng-model="newPasswordConfirmation">
						<span ng-show="registerForm.newPasswordConfirmation.$dirty && registerForm.newPasswordConfirmation.$error.required" class="help-block">Password is required</span>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid || registrationDataLoading">Register</button>
						<img ng-if="registrationDataLoading" src="img/loading.gif"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
