<hr ng-if="pageInfo.totalPages > 1" />
<div class="col-md-12" ng-if="pageInfo.totalPages > 1">
	<div class="col-md-1">
		<button type="button" class="btn btn-default" aria-label="Next Page" style="float:left" ng-click="previousPage()" ng-disabled="loading || pageable.page <= 0">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</button>
	</div>
	<div class="col-md-10" style="text-align:center">
		<div class="col-md-12">
			<b>Page:</b> <span>{{ pageable.page + 1 }} / {{ pageInfo.totalPages }}</span>
		</div>
		<div class="col-md-12">
			<b>Total Results: </b> <span>{{ pageInfo.totalElements }}</span>
		</div>
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-default" aria-label="Next Page" style="float:right" ng-click="nextPage()" ng-disabled="loading || pageable.page >= pageInfo.totalPages - 1">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</button>
	</div>
</div>
