<div class="md-col-12">
	<div class="md-col-12">
		<button data-toggle="modal" type="button" class="btn btn-primary" ng-click="createModal('#createRecordModal', newRecord, null)">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Record
		</button>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="createRecordModal">
		<div class="modal-dialog">
			<div class="modal-content panel-primary">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create Record</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-hide="!hasError(newRecord)"><strong>Error!</strong> {{ updated[newRecord.id].message | translate }}</div>
					<div class="alert alert-success" ng-hide="!isSuccess(newRecord)"><strong>Success!</strong> Record Created!</div>
					<form name="createRecordForm" ng-submit="submitForm()" novalidate>
						<div class="form-group">
    						<label for="createRecordDateInput">Date*:</label>
							<input type="date" class="form-control" id="createRecordDateInput" placeholder="Date" required ng-model="newRecord.date" app-date-picker />
						</div>
						<div class="form-group">
    						<label for="createRecordDistanceInput">Distance (Kms)*:</label>
							<input type="number" class="form-control" id="createRecordDistanceInput" placeholder="Distance" required ng-model="newRecord.distance">
						</div>
						<div class="form-group">
    						<label for="createRecordDurationInput">Duration (Hours)*:</label>
							<input type="number" class="form-control" id="createRecordDurationInput" placeholder="Duration (Min)" required ng-model="newRecord.duration">
						</div>
						<div class="form-group">
    						<label for="createRecordCommentInput">Comment:</label>
							<input type="text" class="form-control" id="createRecordCommentInput" placeholder="Comment" ng-model="newRecord.comment">
						</div>
						<i>Fields with * are required</i>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" type="submit" ng-disabled="createRecordForm.$invalid" ng-click="create(newRecord);">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
