<div>
	<div>
		<button data-toggle="modal" class="btn btn-default btn-xs" ng-click="createModal('#editRecordModal_' + $index, record.clone, record.master)"> 
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</button>
		<div class="divider"></div>
		<button data-toggle="modal" class="btn btn-default btn-xs" ng-click="createModal('#deleteRecordModal_' + $index, record.master, record.master)"> 
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="editRecordModal_{{ $index }}">
		<div class="modal-dialog">
			<div class="modal-content panel-primary">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit Record</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-hide="!hasError(record.clone)"><strong>Error!</strong> {{ updated[record.clone.id].message | translate }}</div>
					<div class="alert alert-success" ng-hide="!isSuccess(record.clone)"><strong>Success!</strong> Record updated!</div>
					<form name="createForm" novalidate>
						<div class="form-group">
    						<label for="dateInput_{{ $index }}">Date</label>
							<input type="date" class="form-control" id="dateInput_{{ $index }}" placeholder="Date" ng-model="record.clone.date" app-date-picker required />
						</div>
						<div class="form-group">
    						<label for="distanceInput_{{ $index }}">Distance (Kms)</label>
							<input type="number" class="form-control" id="distanceInput_{{ $index }}" placeholder="Distance" ng-model="record.clone.distance" required />
						</div>
						<div class="form-group">
    						<label for="durationInput_{{ $index }}">Duration (Hours)</label>
							<input type="number" class="form-control" id="durationInput_{{ $index }}" placeholder="Duration (Min)" ng-model="record.clone.duration" required />
						</div>
						<div class="form-group">
    						<label for="commentInput_{{ $index }}">Comment</label>
							<input type="text" class="form-control" id="commentInput_{{ $index }}" placeholder="Comment" ng-model="record.clone.comment" />
						</div>
						<div class="modal-footer">
							<img ng-if="updating" src="img/loading.gif"/>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" ng-click="update(record);" ng-disabled="updating || createForm.$invalid" >Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" id="deleteRecordModal_{{ $index }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content panel-danger">
				<div class="modal-header panel-heading">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">Delete Record?</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-success" ng-hide="!isSuccess(record.master)"><strong>Success!</strong> Record deleted!</div>
					Confirm deletion of selected record?
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  <button type="button" class="btn btn-primary" ng-click="delete_(record.master);">Delete</button>
				</div>
			</div>
		</div>
	</div>

</div>
