<div class="col-md-12" ng-controller="JoggingRecordController">
	<div class="md-col-12" ng-include="'modules/joggingrecord/views/create.html'"></div>
	<div class="panel panel-primary" style="margin-top:20px;">
		<div class="panel-heading">
			<h3 class="panel-title">Jogging Records</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form class="form-inline pull-right" name="filterForm" novalidate ng-submit="filterResults()">
					<div class="form-group">
					<img ng-if="loading" src="img/loading.gif"/>
					<br />
					</div>
					<div class="form-group">
						<label for="dateFrom">Date From:</label>
	 					<input type="date" class="form-control" id="dateFrom" placeholder="Date From" ng-model="filter.dateFrom" app-date-picker />
					</div>
					<div class="form-group">
						<label for="dateFrom">Date To:</label>
	  					<input type="date" class="form-control" id="dateFrom" placeholder="Date From" ng-model="filter.dateTo" app-date-picker />
					</div>
					<div class="form-group" ng-if="isAdmin">
						<label for="ownerInput">Owner:</label>
	  					<input type="text" class="form-control" id="ownerInput" placeholder="Username" ng-model="filter.username" />
					</div>
					<button type="submit" class="btn btn-default" ng-disabled="loading">Search</button>
				</form>
			</div>
			<div class="col-md-12"><hr /></div>
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th></th>
							<th>Date</th>
							<th ng-if="isAdmin">Owner</th>
							<th>Distance (Kms)</th>
							<th>Duration (Hours)</th>
							<th>Average Speed (Km / Hr)</th>
							<th>Comment</th>
							<th>Options</th>
						</tr>
						<tr ng-repeat="record in joggingRecords">
							<td>{{ $index + 1 }}</td>
							<td>{{ record.master.date | date : 'yyyy-MM-dd' : 'UTC' }}</td>
							<td ng-if="isAdmin">{{ record.master.username }}</td>
							<td>{{ record.master.distance }}</td>
							<td>{{ record.master.duration }}</td>
							<td>{{ (record.master.distance) / (record.master.duration) | number: 2}}</td>
							<td>{{ record.master.comment }}</td>
							<td>
								<div ng-include="'modules/joggingrecord/views/options.html'"></div>
							</td>
						</tr>
						<tr ng-if="pageInfo.totalElements == 0">
							<td colspan="8" class="empty-results-row">Empty results</td>
						</tr>
					</table>
				</div>
				<div ng-include="'modules/pagination/views/nextandbackbuttons.html'"></div>
			</div>
		</div>
	</div>
</div>