<div class="col-md-12">
<div class="panel panel-primary" style="margin-top:20px;" ng-controller="WeeklyReportController">
	<div class="panel-heading">
		<h3 class="panel-title">Weekly Report</h3>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
			<form class="form-inline pull-right" name="filterForm" novalidate ng-submit="filterResults()">
				<div class="form-group">
				<img ng-if="loading" src="img/loading.gif"/>
				<br />
				</div>
				<div class="form-group">
					<label for="dateFrom">Date From:</label>
 					<input type="date" class="form-control" id="dateFrom" placeholder="Date From" ng-model="filter.dateFrom" app-date-picker />
				</div>
				<div class="form-group">
					<label for="dateFrom">Date To:</label>
  					<input type="date" class="form-control" id="dateFrom" placeholder="Date From" ng-model="filter.dateTo" app-date-picker />
				</div>
				<div class="form-group" ng-if="isAdmin">
					<label for="ownerInput">Owner:</label>
  					<input type="text" class="form-control" id="ownerInput" placeholder="Username" ng-model="filter.username" />
				</div>
				<button type="submit" class="btn btn-default" ng-disabled="loading">Search</button>
			</form>
		</div>
		<div class="col-md-12"><hr /></div>
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<th></th>
						<th>Year</th>
						<th>Week Number</th>
						<th>Date Range</th>
						<th ng-if="isAdmin">User</th>
						<th>Total Distance (Kms)</th>
						<th>Average Speed (Km / Hr)</th>
						<th>Jogging Times</th>
					</tr>
					<tr ng-repeat="weeklyReport in weeklyReports">
						<td>{{ $index + 1 }}</td>
						<td>{{ weeklyReport.year }}</td>
						<td>{{ weeklyReport.weekNumber + 1 }}</td>
						<td>{{ getStartDateOfWeek(weeklyReport.year, weeklyReport.weekNumber) }} <b>-</b> {{ getEndDateOfWeek(weeklyReport.year, weeklyReport.weekNumber) }}</td>
						<th style="font-weight: inherit;" ng-if="isAdmin">{{ weeklyReport.username }}</th>
						<td>{{ weeklyReport.totalDistance | number: 2 }}</td>
						<td>{{ weeklyReport.averageSpeed | number: 2 }}</td>
						<td>{{ weeklyReport.joggingTimes }}</td>
					</tr>
					<tr ng-if="pageInfo.totalElements == 0">
						<td colspan="8" class="empty-results-row">Empty results</td>
					</tr>
				</table>
			</div>
			<div ng-include="'modules/pagination/views/nextandbackbuttons.html'"></div>
		</div>
	</div>
</div>
</div>