<div class="col-md-12" ng-controller="UserController">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Profile information<small></small></h2>
		</div>	
		<div class="col-md-12">
			<div class="col-md-2"><b>Username: </b></div>
			<div class="col-md-10">{{ currUser.username }}</div>
			<div class="col-md-2"><b>Role: </b></div>
			<div class="col-md-10">{{ currUser.role }}</div>
		</div>
		<div class="col-md-12 no-side-padding">
			<div ng-include="'modules/user/views/edit.html'"></div>
		</div>
	</div>
	<div class="col-md-12" ng-show="isAdmin()">
		<div class="page-header">
			<h2>Users Information <small> Admin section</small></h2>
		</div>
		<div class="col-md-12">
			<div class="md-col-12">
				<div ng-include="'modules/user/views/create.html'"></div>
			</div>
			<div class="md-col-12" style="margin-top:20px;">
				<div ng-show="userUpdate.error" class="alert alert-danger">{{ userUpdate.error }}</div>
			</div>
			<div class="md-col-12" style="margin-top:20px;">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Existing users</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<tr>
									<th></th>
									<th>Username</th>
									<th>Role</th>
									<th>Enabled</th>
								</tr>
								<tr ng-repeat="user in users" ng-class="{trdisabled: (user.master.username == currUser.username)}">
									<td>{{ $index + 1 }}</td>
									<td>{{ user.master.username }}</td>
									<td>
										<select 
											ng-model="user.clone.role" ng-change="update(user)" 
											ng-options="role disable when (user.master.username == currUser.username) for role in roles">
										</select>
									</td>
									<td>
										<select
											ng-model="user.clone.enabled" ng-change="update(user)"
											ng-options="enabled disable when (user.master.username == currUser.username) for enabled in [true, false]">
										</select>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
