<div ng-controller="CreateUserController">
<button data-toggle="modal" type="button" class="btn btn-primary" ng-click="createUserModal('#createUserModal', newUser)">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	Create User
</button>
<div class="modal fade" tabindex="-1" role="dialog" id="createUserModal">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Create new user</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="alert alert-danger" ng-hide="!error"><strong>Error</strong> {{ error | translate }} </div>
					<div class="alert alert-success" ng-hide="!newUser.success"><strong>Success!</strong> User created!</div>
					<form name="createUserForm" novalidate>
						<div class="form-group">
    						<label for="createUserUsernameInput">Username*:</label>
							<input type="text" class="form-control" id="createUserUsernameInput" placeholder="Username" required ng-model="newUser.username" />
						</div>
						<div class="form-group">
    						<label for="createUserRoleInput">Role*:</label>
							<select class="form-control" required
								ng-model="newUser.role"
								ng-options="role for role in roles">
							</select>
						</div>
						<div class="form-group">
    						<label for="createUserPasswordInput">Password*:</label>
							<input type="password" class="form-control" id="createUserPasswordInput" placeholder="Password" required ng-model="newUser.password" />
						</div>
						<i>Fields with * are required</i>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" ng-disabled="createUserForm.$invalid" ng-click="create(newUser);">Create user</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>