<div class="col-md-12" ng-controller="UserEditController">
	<div class="page-header">
		<h3>Password update<small></small></h3>
	</div>
	<div ng-show="passwordForm.error" class="alert alert-danger">{{ passwordForm.error | translate }}</div>
	<div ng-show="passwordForm.success" class="alert alert-success">Password changed</div>
	<form class="form-horizontal" name="passwordForm" ng-submit="changePassword(currpassword, newPassword, newPasswordConfirm)" novalidate>
		<div class="form-group">
			<label for="currpassword" class="col-sm-2 control-label">Current Password:</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="currpassword" placeholder="Current Password" ng-model="currpassword" required />
			</div>
		</div>
		<div class="form-group">
			<label for="newPassword" class="col-sm-2 control-label">Password:</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="newPassword" placeholder="New Password" ng-model="newPassword" required />
			</div>
		</div>
		<div class="form-group">
			<label for="newPasswordConfirm" class="col-sm-2 control-label">Confirm password:</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="newPasswordConfirm" placeholder="New Password" ng-model="newPasswordConfirm" required />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-disabled="passwordForm.$invalid || dataLoading">Save</button>
			</div>
		</div>
	</form>
</div>
