.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}

.panel-heading {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.no-side-padding {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.trdisabled {
	background-color: rgb(254, 234, 233) !important;
}

.empty-results-row {
	text-align: center;
	font-weight: bold;
	background-color: rgb(242, 242, 242);
}
