html {
	background-image: url('../img/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

body {
	background-color: rgba(0, 0, 0, 0);
}

.login-container {
	background-color: rgba(0, 0, 0, 0.46);
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #E0E0E0;
}

small {
	color: rgb(206, 203, 203) !important;
}
