<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>Jogging Tracker</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<script>document.write('<base href="' + document.location + '" />');</script>

	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/yeti/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="modules/bootstrap/css/bootstrap-datepicker.min.css">
	<script src="modules/bootstrap/js/bootstrap-datepicker.min.js"></script>
	
	<!-- Angular -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

	<!-- App -->
	<script src="js/app.js"></script>
	<script src="modules/bootstrap/ui-bootstrap-1.3.2.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<!-- App: Jogging Record -->
	<script src="modules/joggingrecord/controllers.js"></script>
	<!-- App: Authentication-->
	<script src="modules/authentication/services.js"></script>
	<script src="modules/authentication/controllers.js"></script>
	<!-- App: Account -->
	<script src="modules/user/services.js"></script>
	<script src="modules/user/controllers.js"></script>
	<!-- App: Location -->
	<script src="modules/joggingrecord/services.js"></script>
	<script src="modules/joggingrecord/controllers.js"></script>
	<!-- I18N -->
	<script src="modules/i18n/angular-translate.min.js"></script>

	<!-- Other -->
	<script src="js/angular-css.min.js"></script>
	<link rel="stylesheet" href="css/common.css">

</head>
<body>
	<header>
		<nav class="navbar navbar-default" ng-controller="NavController">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">Jogging Tracker</a>
				</div>
				<ul class="nav navbar-nav navbar-left" ng-hide="!isLoggedIn()">
					<li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
					<li ng-class="{ active: isActive('/report')}"><a href="#/report">Report</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-hide="!isLoggedIn()">
				    <li><a href="#/account/"><i class="fa fa-shield"></i>{{ user.username }} ({{ user.role }})</a></li>
				    <li><a href="#/logout/"><i class="fa fa-comment"></i>Logout</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="auth" ng-controller="LoginController" name="loginForm" ng-submit="login()" novalidate ng-hide="isLoggedIn()">
					<img ng-if="loginDataLoading" src="img/loading.gif"/>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username" required ng-model="username" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" required ng-model="password" />
					</div>
					<button type="submit" class="btn btn-default btn-xs" ng-disabled="loginForm.$invalid || loginDataLoading">Login!</button>
				</form>
			</div>
		</nav>
	</header>
	<div id="main">
		<div ng-view></div>
	</div>
</body>
</html>
